
<div class="form-group">
    <label for="serverNameid">Enter the server name: </label>
    <input type="text" class="form-control" id="serverNameid" [(ngModel)]="serverName" aria-describedby="emailHelp" placeholder="Server Name:">
</div>

<button 
    class="btn btn-primary" 
    [disabled]="!btnStatus"
    (click)= "addStatus()">Add Server</button>

<!-- *ngIf, ngStyle -->
<!-- <p *ngIf = "loading; else noServerCreated">SERVER:- {{serverName}} | STATUS:- <span [ngStyle]="{'color': getBgColor()}" >{{serverStatus}}</span></p> -->
<p *ngIf = "loading; else noServerCreated">SERVER:- {{serverName}} | STATUS:- 
    <span [ngClass] = "{'online' : serverStatus=== 'online', 'offline':serverStatus=== 'offline'}">
        {{serverStatus}}</span>
</p>
<!-- else -->
<ng-template #noServerCreated>
    <p>{{welcomeText}}</p>
</ng-template>
<!-- <p [innerText]="welcomeText"></p>  -->
<ul *ngFor= "let server of serverList">
    <li>{{server}}</li>
</ul>
