p{
    span{
        display: inline-block;
        border: 1px solid transparent;
        padding: 5px;
        &.online{
            color: green;
            border-color: green;
        }
        &.offline{
            color: red;
            border-color: red;
        }
    }
}