<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-12">
    <div class="list-group">
      <app-recipe-item (selectedRecipe)="selectedRecipe(recipeEl)"
      *ngFor="let recipeEl of recipes" 
      [recipe]="recipeEl"></app-recipe-item>
    </div>
  </div>
</div>