<app-header (selectedMenu)="selectedMenu($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes *ngIf="selectedMenuItem === 'Recipe'"></app-recipes>
      <app-shopping-list *ngIf="selectedMenuItem === 'Shopping'"></app-shopping-list>
    </div>
  </div>
</div>
