<h4>Assignment 2:</h4>

<button class="btn btn-primary" (click)="showDetails()">Display Details</button>
<p *ngIf = "flag">Lorem ipsum dolor sit amet.</p>

<ul>
    <li *ngFor = "let Click of btnClick; let i = index;"  [ngStyle] = "{'backgroundColor': checkLog(i)}" [ngClass]= "{'text-white': i>4 }">{{Click}}</li>
</ul>