<div class="row">
  <div class="col-sm-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input 
          type="text" 
          id="name" 
          class="form-control"
          #nameInput>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input 
          type="number" 
          id="amount" 
          class="form-control"
          #amountInput>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button class=" mr-1 btn btn-success" type="submit" (click)="add()">Add</button>
          <button class=" mr-1 btn btn-danger" type="button" (click)="delete()">Delete</button>
          <button class=" mr-1 btn btn-primary" type="button" (click)="clear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
