
    <div class="form-group">
        <label for="userID">User Name</label>
        <input type="text" class="form-control" id="userID" aria-describedby="useHelp" [(ngModel)]= "userName"
            placeholder="Enter username">
        <small id="useHelp" class="form-text text-muted">{{userName}}</small>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!userName" (click)="resetName()">Reset</button>
<hr>
  
    <app-assng2></app-assng2>