<div class="row">
  <div class="col-md-5">
    <app-recipe-list (recipeWasSelected)= "selectedRecipeList = $event"></app-recipe-list>
  </div>
  <div class="col-md-7">
    <app-recipe-detail *ngIf="!!selectedRecipeList; else notSelectedRecipeList" 
    [recipe]="selectedRecipeList"
    ></app-recipe-detail>
    <ng-template #notSelectedRecipeList>Please select Recipe</ng-template>
  </div>
</div>
